
{% block card %}

{% for i in music_data %}

<div class="card cards" style="background-image:url('{{i[4]|safe}}')">
    <div class="card-top">
        <p class="card__title btn">{{i[1]}}</p>
        <div class="rating">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none">
                <path
                    d="M8.51948 1.625C9.1214 1.625 10.0427 4.16625 10.4636 5.43013C10.6014 5.8437 10.9837 6.13054 11.4192 6.14904C12.7373 6.20505 15.375 6.39722 15.375 7.0384C15.375 7.66696 13.5161 9.17543 12.5322 9.92976C12.1816 10.1986 12.0365 10.6604 12.1687 11.082C12.5631 12.34 13.2755 14.8755 12.7573 15.3009C12.2506 15.717 10.2147 14.2326 9.15246 13.4009C8.77021 13.1016 8.22949 13.1012 7.84719 13.4004C6.78473 14.2321 4.75246 15.717 4.28166 15.3009C3.79912 14.8745 4.47615 12.3275 4.84741 11.0727C4.97086 10.6555 4.82425 10.2029 4.47885 9.93826C3.49798 9.18681 1.625 7.66933 1.625 7.0384C1.625 6.3962 4.2711 6.20444 5.5871 6.14878C6.0197 6.13048 6.3998 5.84769 6.53973 5.43793C6.97041 4.17673 7.91633 1.625 8.51948 1.625Z"
                    fill="#00B9AE" stroke="#00B9AE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg>
        </div>
    </div>
    <div class="card__info">
        <p class="episode__num">歌手：{{i[2]}}</p>
        <p class="episode__type">所属专辑：{{i[3]}}</p>
    </div>
    <div class="card__btns">

        {% if music_like[loop.index]=="1" %}
        <div id="collect_" class="emoji-icon-collect-clicked emoji-icon-collect"
            onclick="collect('{{username_}}','{{i[0]}}',this)">
            <div class="icon-img-collect"></div>
        </div>
        {% else%}
        <div id="collect_" class="emoji-icon-collect" onclick="collect('{{username_}}','{{i[0]}}',this)">
            <div class="icon-img-collect"></div>
        </div>


        <!-- <div id="collect_" class="icon-icon-collect" 
        onclick="collect('{{username_}}','{{i[0]}}',this)">
            <div class="icon-img-collect"></div>
        </div> -->
        {% endif%}


        <button class="watch-btn" onclick="musicPlay('{{i[1]}}','{{i[5]}}','{{i[4]}}')">Play
            <!-- <name>
                {{i[1]}}
            </name> -->
        </button>
    </div>
</div>


{% endfor %}

{% endblock %}